body {
    background: linear-gradient(blue,blueviolet);
    background-repeat: none;
    background-size: contain;
}


#box {
    background-color: blueviolet;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


nav {
    font-family: "Instrument Serif", sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
}

nav a {
    padding-left: 140px;
    padding-right: 140px;

}

a:link,  a:visited {
    text-decoration: none;
    color: white;

}

a:hover, a:active{
    font-weight: bold;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: goldenrod;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Instrument Serif", sans-serif;
}

#desc {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Instrument Serif", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#char {
    border: hidden;
    width: 300px;
    margin-top: 150px;
    float: left;
    margin-left: 400px;
}

h3 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: "Instrument Serif", sans-serif;
}

.list {
    margin-left: 65px;
}   

li {
    list-style: none;
    font-size: 25px;
    color: white;
    font-family: "Instrument Serif", sans-serif;
}

#cast {
    border: hidden;
    width: 300px;
    margin-top: 150px;
    float: right;
    margin-right: 400px;
}

#trailer {
    margin-top: 850px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Instrument Serif", sans-serif;
}

.info {

    color: white;
}



#info {
    font-size: 16px;
    margin-left: 50px;
    margin-top: 100px;
}

video {
    width: 800px;
    border: dashed goldenrod;
    padding: 20px;
    border-radius: 10px;

}

#movie {
    font-size: 25px;
    font-family: "Instrument Serif", sans-serif;
    margin-left: 590px;
    margin-top: 80px;
}

button {
    background-color: goldenrod;
    width: 300px;
    height: 40px;
    border: hidden;
    border-radius: 10px;
    font-size: 20px;
}