body {

    background-color: #e9cba7;
    background-image: url("1.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: luminosity;
}

h1 {

    text-align: center;
    font-family: "Ysabeau","consolas", sans-serif;
    color:rgb(215, 130, 70);
    font-weight: bold;
    font-size: 40px;
}

#box {
    
    border-top: dashed #e9cba7;
    border-bottom: dashed #e9cba7;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: "Ysabeau", sans-serif;
    font-style: italic;
    color: #4e420e;

}

#text1 {

    text-align: center;
    color:rgb(215, 130, 70);
    font-family: "Ysabeau", sans-serif;

}

#text2 {

    text-align: left;
    color:rgb(215, 130, 70);
    font-family: "Ysabeau", sans-serif;
    text-indent: 50px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 25px;
}

#ingredients {

    border: dashed #e9cba7;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Ysabeau", sans-serif;
    text-indent: 15px;
    font-size: 20px;
    font-weight:400;

}

ol li {

    font-family: "Ysabeau", sans-serif;
    font-size: 20px;
    font-weight:400;
    margin-left: 50px;
    margin-right: 75px;
}