body {
    background-color: #e9cba7;
}
h1 {
    text-align: center;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
}
.description {
    text-align: center;
    color: #f5edda;
    padding: 20px;
    background-color: #ca9e7b;
    border-radius: 10px;

}
h2 {
    text-align: left;
}