* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #e9cba7;
    background-image: url("1.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: luminosity;
}

#nav {
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
}

.button {
    border: solid;
    border-radius: 5px;
    padding: 10px;
    font-family: "Ysabeau","consolas", sans-serif;
    text-decoration: none;
    color:saddlebrown;
    font-weight: bold;
}

.button:hover {
    background-color: saddlebrown;
    color: antiquewhite;
}


h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Ysabeau","consolas", sans-serif;
    color: #be7656;
    font-weight: bold;
    font-size: 40px;
}

#description {
    border-top: dashed;
    border-bottom: dashed;
    border-color: #be7656;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description {
    font-size: 20px;
    font-style: italic;
    font-family: "Ysabeau","consolas", sans-serif;
    color: #794028;
    font-weight: 500;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 180px;
    margin-bottom: 40px;
    font-family: "Ysabeau","consolas", sans-serif;
    font-size: 26px;
    color: saddlebrown;
}

#ingredients {
    border: dashed #be7656;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "Ysabeau","consolas", sans-serif;
    line-height: 2;
    color: #794028;
}

#procedure {
    border: hidden;
    width: fit-content;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

ol li {
    padding-left: 20px;
    font-size: 18px;
    font-family: "Ysabeau","consolas", sans-serif;
    line-height: 2;
    color: #794028;
}

#top {
    border: hidden;
    float: right;
    padding: 30px;
    color: saddlebrown;
    font-size: 16px;
    font-family: "Ysabeau","consolas", sans-serif;
}